.banner-container {
  display: flex;
  background-color: rgb(244, 244, 244);
  width: 100%;
  border: solid darkgrey;
  justify-content: space-evenly;
  margin-bottom: 700px;
  white-space: pre;
  font-size: 17px;
  font-weight: 700;
}

.banner-column {
  padding-bottom: 10px;
  padding-top: 10px;
  border-right: 1px solid darkgrey;
  flex: 1;
  color: rgb(81, 84, 84);
}

.banner-column-1, .banner-column-2 {
  padding-left: 5px;
  padding-right: 150px;
}

.banner-column-3, .banner-column-4, .banner-column-5 {
  padding-right: 15px;
  padding-left: 150px;
}

.banner-column-1 {
  background-color: rgb(255, 255, 254);
}